* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid green;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

a {
    all: unset;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: rgba(239, 239, 239, 0.30);
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    overflow: hidden;
    font-family: monospace;
    cursor: pointer;
}

.card > *{
    width: 90%;
    padding: 2% 0;
    align-self: center;
}

.pr-img {
    width: 90%;
    height: 50%;
    padding: 2% 0;
    border-radius: 3vw;
    align-self: center;
    max-height: 50%;
    object-position: top;
    object-fit: contain;
}

.pr-name {
    color: rgba(50, 49, 49, 0.936);
    font-weight: bold;
    font-size: 130%;
    margin-top: 10%;
}

.pr-price {
    font-size: 150%;
    font-weight: bold;
    color: rgb(113, 26, 157);
}

.pr-about {
    color: rgb(113, 26, 157);
    font-family: sans-serif;
    font-size: 80%;
    font-weight: bold;
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 5px;
}

#arrow {
    position: relative;
    font-size: 120%;
    transition: all 0.2s linear;
}

.pr-about:hover>#arrow {
    transform: translateX(20%);
}



.product-frame {
    height: 80%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.968);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}

.product-frame .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 2vh;
    align-self: center;
    gap: 1vh;
    height: 100%;
}

.product-frame .images img {
    height: 0;
    width: 80%;
    border-radius: 2vw;
    cursor: pointer;
    border: 1px solid gray;
    object-fit: contain;
    flex: 1;
}


.product-frame>img {
    width: 45%;
    height: 100%;
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
}

.pr-details {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 3%;
    width: 35%;
}


.pr-details .pr-price {
    margin: 2% 0;
}


.pr-details .pr-description {
    font-size: 150%;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.pr-details>a {
    background-color: rgb(0, 136, 255);
    color: white;
    width: fit-content;
    padding: 2%;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 110%;
}


.layer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.557);
    display: none;
    cursor: url('./close-large-line.svg'), auto;
}

#close {}






/* Responsiveness for tablets */
@media screen and (max-width:1050px) {
    .product-frame {
        width: 90%;
        width: 90%;
        flex-wrap: wrap;
        align-content: start;
    }

    .product-frame .images {
        width: 25%;
        height: 50%;
    }

    .product-frame .images img {}

    .product-frame>img {
        width: 75%;
        height: 60%;
        object-fit: contain;
    }

    .pr-details {
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
    }

    .pr-details .pr-description {
        font-size: 105%;
        padding-bottom: 5px;
    }

    .pr-details>a {
        width: 90%;
    }

    .pr-img{
        height: 50%;
    }

    .card{
        width: 150px;
        height: 300px;
    }

    .pr-name{
        font-size: 105%;
    }

    .card > *{
        width: 90%;
        padding: 2% 0;
        align-self: center;
    }

}


/*Responsiveness for mobile */
@media screen and (max-width:600px) {}